---
layout: default
---

<div class="home">
  {% if site.theme_settings.header_text %}
  <div id="main" class="call-out"
  style="background-image: url('{{ site.theme_settings.header_feature_image | relative_url }}')">
    <h1> {{ site.theme_settings.header_text }} </h1>
  </div>
  {% endif %}
  <section class="content">
  {% if page.bootstrap %}
    <div class="bootstrap-iso">
    {% endif %}
      {{ content }}
    {% if page.bootstrap %}
    </div>
  {% endif %}
  </section>
</div>

<style>
.content {
  margin: 35px;
}
</style>
